{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@images": "./assets/images",
          "@lottie": "./assets/lottie",
          "@rest": "./httpClient",
          "@api": "./httpClient/api",
          "@fonts": "./config/fonts",
          "@blockSizes": "./config/blockSizes",
          "@dimensions": "./helpers/dimensions",
          "@constants": "./constants",
          "@keyboards": "./helpers/keyboards",
          "@dateFormatter": "./helpers/dateFormatter",
          "@requests": "./helpers/requests",
          "@printer": "./helpers/printer",
          "@helpers": "./helpers/all",
          "@receipt": "./helpers/receipt",
          "@shared": "./src/shared",
          "@selectors": "./store/selectors",
          "@statuses": "./config/statuses",
          "@reducers": "./reducers",
          "@store": "./index"
        }
      }
    ]
  ]
}