{
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "@images": "./assets/images",
          "@rest": "./rest",
          "@api": "./rest/api",
          "@fonts": "./config/fonts",
          "@blockSizes": "./config/blockSizes",
          "@dimensions": "./helpers/dimensions",
          "@keyboards": "./helpers/keyboards",
          "@dateFormatter": "./helpers/dateFormatter",
          "@requests": "./helpers/requests",
          "@printer": "./helpers/printer",
          "@shared": "./src/shared",
          "@selectors": "./store/selectors",
          "@statuses": "./config/statuses",
          "@reducers": "./reducers",
          "@store": "./index",
        }
      }
    ]
  ]
}