<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Adoo Retail</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>NSMainNibFile</key>
	<string>LaunchScreen</string>
	<key>UIAppFonts</key>
	<array>
		<string>agfutura.ttf</string>
		<string>comfortaa_bold.ttf</string>
		<string>comfortaa_light.ttf</string>
		<string>comfortaa_regular.ttf</string>
		<string>evolventa_bold.ttf</string>
		<string>evolventa_boldOblique.ttf</string>
		<string>evolventa_oblique.ttf</string>
		<string>evolventa_regular.ttf</string>
		<string>futura_light.ttf</string>
		<string>futura_new_demi.otf</string>
		<string>futura_regular.ttf</string>
		<string>ttcommons_black.ttf</string>
		<string>ttcommons_bold.ttf</string>
		<string>ttcommons_demibold.ttf</string>
		<string>ttcommons_extralight.ttf</string>
		<string>ttcommons_light.ttf</string>
		<string>ttcommons_medium.ttf</string>
		<string>ttcommons_regular.ttf</string>
		<string>probapro_bold.ttf</string>
		<string>probapro_extralight.ttf</string>
		<string>probapro_light.ttf</string>
		<string>probapro_medium.ttf</string>
		<string>probapro_regular.ttf</string>
		<string>cerapro_regular.ttf</string>
		<string>Gilroy-Black.ttf</string>
		<string>Gilroy-Bold.ttf</string>
		<string>Gilroy-Light.ttf</string>
		<string>Gilroy-Medium.ttf</string>
		<string>Gilroy-Regular.ttf</string>
		<string>Gilroy-Thin.ttf</string>
		<string>gilroy_bold.ttf</string>
		<string>gilroy_light.ttf</string>
		<string>gilroy_medium.ttf</string>
		<string>gilroy_regular.ttf</string>
		<string>Geometria-Bold.ttf</string>
		<string>Geometria-Light.ttf</string>
		<string>Geometria-Medium.ttf</string>
		<string>Geometria.ttf</string>
		<string>MuseoSansCyrl-100.ttf</string>
		<string>MuseoSansCyrl-300.ttf</string>
		<string>MuseoSansCyrl-500.ttf</string>
		<string>MuseoSansCyrl-700.ttf</string>
		<string>MuseoSansCyrl-900.ttf</string>
		<string>museo_bold.ttf</string>
		<string>museo_light.ttf</string>
		<string>museo_medium.ttf</string>
		<string>museo_regular.ttf</string>
		<string>Circe-Bold.ttf</string>
		<string>Circe-ExtraBold.ttf</string>
		<string>Circe-ExtraLight.ttf</string>
		<string>Circe-Light.ttf</string>
		<string>Circe-Regular.ttf</string>
		<string>Circe-Thin.ttf</string>
		<string>gilroy_semibold.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
